<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866295073547-s9vp0tkc3nc7l5k4kc8pppg2ekl3oiau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866295073547-s9vp0tkc3nc7l5k4kc8pppg2ekl3oiau</string>
	<key>API_KEY</key>
	<string>AIzaSyD7l5qUciBLhN5YBeGSc2Goq3fuM1-n0R0</string>
	<key>GCM_SENDER_ID</key>
	<string>866295073547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medically</string>
	<key>PROJECT_ID</key>
	<string>algny-5153f</string>
	<key>STORAGE_BUCKET</key>
	<string>algny-5153f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866295073547:ios:9519da40ae345941b7f00e</string>
</dict>
</plist>